
<div *ngIf="!load" class="loader"></div>
<div  *ngIf="load" class="row">
    <table class="table table-bordered table-hover">
    <thead class="thead-light">
        <tr>
            <th scope="col">Ref</th>
            <th scope="col" width="200px">Nom Produit</th>
            <th scope="col">Type Produit</th>
            <th scope="col">Quantite</th>
            <th scope="col">Mouvement</th>
            <th scope="col">Date de commande</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ac of entree?.reverse()| slice:0:5">
            <th scope="row">{{ac.Ref}}</th>
            <td>{{ac.Nom}}</td>
            <td>{{ac.type}}</td>
            <td>{{ac.nbrstock}}</td>
            <td style="color: green;">Entrée</td>
            <td>{{ac.derMaj | date:'yyyy-MM-dd'}}</td>
        </tr>
        <tr *ngFor="let vd of sortie?.reverse()| slice:0:5">
                <th scope="row">{{vd.Ref}}</th>
                <td>{{vd.Nom}}</td>
                <td>{{vd.type}}</td>
                <td>{{vd.nbrstock}}</td>
                <td style="color: red;">Sortie</td>
                <td>{{vd.derMaj | date:'yyyy-MM-dd'}}</td>
            </tr>
    </tbody>
</table>
<div style="margin-left: 90px ;">
    <div class="card bg-light mb-3" style="height: 8rem; max-width: 18rem;">
    <div class="card-body">
        <h5 style="color: green;" class="card-title">En Stock <i class="fas fa-check-circle"></i></h5>
        <p class="card-text">{{stockl}} Produits</p>
    </div>
    </div>
    <div class="card bg-light mb-3" style="height: 8rem; max-width: 18rem;">
    <div class="card-body">
        <h5 style="color: red;" class="card-title">En Alerte Stock <i class="fas fa-exclamation-triangle"></i></h5>
        <p class="card-text">{{alert}} Produits</p>
    </div>
    </div>
    <div class="card bg-light mb-3" style="height: 8rem; max-width: 18rem;">
    <div class="card-body">
        <h5 style="color: red;" class="card-title">En rupture De Stock <i class="fas fa-times-circle"></i></h5>
        <p class="card-text">{{rupture}} Produits</p>
    </div>
    </div>
</div>
</div>
