<div class="vertical-nav bg-light" id="sidebar">
    <div class="py-4 px-3 mb-4 bg-light">
      <div class="media d-flex align-items-center">
        <a><img src="../../assets/logo.png" width="220" alt="..." ></a>
      </div>
    </div>
  
    <ul class="nav flex-column bg-light mb-0">
      <li class="nav-item">
          <a routerLink="accueil" class="nav-link text-dark font-italic">
              <i class="fas fa-home"></i> &nbsp;&nbsp; 
                  Accueil
                </a>
        </li>
      <li class="nav-item">
        <a routerLink="stock" class="nav-link text-dark font-italic ">
                  <i class="fa fa-th-large"></i> &nbsp;&nbsp; 
                  Stock
              </a>
      </li>
      <li class="nav-item">
        <a routerLink="client" class="nav-link text-dark font-italic">
                  <i class="fa fa-address-card"></i> &nbsp;&nbsp; 
                  Clients
              </a>
      </li>
      <li class="nav-item">
        <a routerLink="fournisseur" class="nav-link text-dark font-italic">
                  <i class="fa fa-cubes "></i> &nbsp;&nbsp; 
                  Fournisseurs
              </a>
      </li>
      <li class="nav-item">
        <a routerLink="achat" class="nav-link text-dark font-italic">
            <i class="fas fa-clipboard-check"></i> &nbsp;&nbsp; 
                  Achats
              </a>
      </li>
      <li class="nav-item">
        <a routerLink="vente" class="nav-link text-dark font-italic">
            <i class="fas fa-shopping-cart"></i> &nbsp;&nbsp; 
                  Commande clients
              </a>
      </li>
      <li class="nav-item">
          <a routerLink="statistique" class="nav-link text-dark font-italic">
              <i class="far fa-chart-bar"></i> &nbsp;&nbsp;
                  Statistiques
                </a>
        </li>
  </ul>
  </div>