<div class="container">
    <h1>{{title}}</h1>
    <button *ngIf="ss && re && cc" (click)="s()" type="button" class="btn btn-outline-dark">Ajouter une
        commande</button>
    <button *ngIf="!ss && re && cc" (click)="s()" type="button" class="btn btn-outline-dark">Retour</button>
    <button *ngIf="!re && cc" (click)="s2()" type="button" class="btn btn-outline-dark">Retour</button>
    <button *ngIf="!cc" (click)="s3()" type="button" class="btn btn-outline-dark">Retour</button>
</div>
<div *ngIf="cc">
    <div *ngIf="re">
        <div *ngIf="ss">
            <div>
                <div *ngIf="!load" class="loader"></div>
                <div *ngIf="load">
                    <div class="md-form mt-0">
                        <select class="form-control" [(ngModel)]="rechc" name="rechc" type="text" required>
                            <option *ngFor="let fr of Fourn" [value]="fr.Nom">{{fr.Nom}}</option>
                        </select><button (click)="search()" type="button" class="btn btn-outline-secondary"><i
                                class="fas fa-search"></i></button>
                    </div>
                    <table class="table table-bordered table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Ref</th>
                                <th scope="col">Fournisseur</th>
                                <th scope="col">Date de commande</th>
                                <th scope="col">Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ac of achats| paginate : config">
                                <th scope="row">{{ac.Ref}}</th>
                                <td>{{ac.Nomf}}</td>
                                <td>{{ac.date | date:'yyyy-MM-dd'}}</td>
                                <td><button type="button" class="btn btn-isnfo" (click)="det(ac.Ref,ac.Nomf,ac.date,ac._id,ac.produit)"
                                        type="button"><i class="fas fa-info-circle"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-template #p="paginationApi" [id]="config.id" (pageChange)="config.currentPage = $event">
                        <div class="custom-pagination">
                            <div class="pagination-previous" [class.disabled]="p.isFirstPage()">
                                <span (click)="p.previous()"><i class="fas fa-arrow-circle-left"></i> Prev </span>
                            </div>
                            <div class="page-number" *ngFor="let page of p.pages"
                                [class.current]="p.getCurrent() === page.value">
                                <span (click)="p.setCurrent(page.value)"
                                    *ngIf="p.getCurrent() !== page.value">{{ page.label }}</span>
                                <div *ngIf="p.getCurrent() === page.value">
                                    <span>{{ page.label }}</span>
                                </div>
                            </div>
                            <div class="pagination-next" [class.disabled]="p.isLastPage()">
                                <span (click)="p.next()"> Next <i class="fas fa-arrow-circle-right"></i> </span>
                            </div>
                        </div>
                    </pagination-template>
                </div>
            </div>
        </div>
        <div *ngIf="!ss">
            <div class="col-md-6 offset-md-3">
                <span class="anchor" id="formRegister"></span>
                <div class="card card-outline-secondary">
                    <div class="card-header">
                        <h3 class="mb-0">Ajouter Une Commande Fournisseur</h3>
                    </div>
                    <div class="card-body">
                        <form #f="ngForm" class="form" role="form">
                            <div class="form-group">
                                <label for="inputName">Reference</label>
                                <input class="form-control" [(ngModel)]="Ref" name="Ref" type="text">
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3">Nom du fournisseur</label>
                                <select class="form-control" [(ngModel)]="Nomf" name="Nomf" required>
                                    <option *ngFor="let fr of Fourn" [value]="fr.Nom">{{fr.Nom}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3">Nombre de produit</label>
                                <input class="form-control" [(ngModel)]="nbr" name="nbr" type="number" min="1" required>
                            </div>
                            <div class="form-row mt-4" *ngFor="let i of createRange(nbr)">
                                <div class="col-sm-5 pb-3">
                                    <label for="exampleAccount">Nom du produit</label>
                                    <select type="text" class="form-control" [ngModel]="'Nomp'+i" [name]="'Nomp'+i">
                                        <option *ngFor="let stk of stocks" [value]="stk.Nom">{{stk.Nom}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-5 pb-3">
                                    <label for="exampleCtrl">Quantite</label>
                                    <input class="form-control" [ngModel]="'quantite'+i" [name]="'quantite'+i"
                                        type="number" min="1">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3">Date</label>
                                <input class="form-control" [(ngModel)]="date" name="date" type="Date" required>
                            </div>
                            <div class="form-group">
                                <button type="submit" (click)="Addachat(f)"
                                    class="btn btn-outline-dark btn-lg float-right">Ajouter</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!re">
        <div *ngIf="load">
            <table class="table table-bordered table-hover">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Ref</th>
                        <th scope="col">Fournisseur</th>
                        <th scope="col">Date de commande</th>
                        <th scope="col">Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ac of achatr| paginate : config">
                        <th scope="row">{{ac.Ref}}</th>
                        <td>{{ac.Nomf}}</td>
                        <td>{{ac.date | date:'yyyy-MM-dd'}}</td>
                        <td><button type="button" class="btn btn-oudtline-info"  (click)="det(ac.Ref,ac.Nomf,ac.date,ac._id,ac.produit)"
                                type="button"><i class="fas fa-info-circle"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-template #p="paginationApi" [id]="config.id" (pageChange)="config.currentPage = $event">
                <div class="custom-pagination">
                    <div class="pagination-previous" [class.disabled]="p.isFirstPage()">
                        <span (click)="p.previous()"><i class="fas fa-arrow-circle-left"></i> Prev </span>
                    </div>
                    <div class="page-number" *ngFor="let page of p.pages"
                        [class.current]="p.getCurrent() === page.value">
                        <span (click)="p.setCurrent(page.value)"
                            *ngIf="p.getCurrent() !== page.value">{{ page.label }}</span>
                        <div *ngIf="p.getCurrent() === page.value">
                            <span>{{ page.label }}</span>
                        </div>
                    </div>
                    <div class="pagination-next" [class.disabled]="p.isLastPage()">
                        <span (click)="p.next()"> Next <i class="fas fa-arrow-circle-right"></i> </span>
                    </div>
                </div>
            </pagination-template>
        </div>
    </div>
</div>
<div class="facture" *ngIf="!cc">
    <section id="print-section" class="content content_content" style="width: 70%; margin: auto;">
        <section class="invoice">
            <!-- title row -->
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="page-header">
                        FastAmblaj
                        <small class="pull-right">Date: {{date}}</small>
                    </h2>
                </div><!-- /.col -->
            </div><br><br>
            <!-- info row -->
            <div class="row invoice-info">
                <div class="col-sm-4 invoice-col">
                    <b>From :</b> {{Nomf}}<br>
                    <b>Adresse :</b><br> {{detailfourn.Address}}, {{detailfourn.Ville}}<br>
                    <b>Email :</b><br> {{detailfourn.Email}}<br><br>
                </div><!-- /.col -->

                <div class="col-sm-4 invoice-col">
                </div><!-- /.col -->
                <div class="col-sm-4 invoice-col">
                    <b>ID de l'ordre:</b> {{Ref}}<br>

                </div><!-- /.col -->
            </div><!-- /.row -->

            <!-- Table row -->
            <div class="row">
                <div class="col-xs-12 table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Quantité</th>
                                <th>Produit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let a of produit; index as i ">
                                <td>{{a.quantite}}</td>
                                <td>{{a.Nomp}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- /.col -->
            </div><!-- /.row -->

        </section>
    </section>
</div>